{% extends 'HexmediaContentBundle:Layout:edit.html.twig' %}

{% block title %}Add Person to Newsletter{% endblock title %}

{% block body -%}
    {{ form_start(form, {'attr' : { 'class' : 'form-horizontal' } }) }}
    <div class="buttons-bar">
        <a class="btn btn-warning" href="{{ path('HexMediaNewsletterPerson') }}"
           title="{{ 'Exit without edit'|trans }}">{{ 'Exit'|trans }}</a>
        {{ form_widget(form.saveAndExit) }}
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
