{{ form_start(form, {'action':path('HexMediaNewsletterPersonImport')}) }}
<div class="modal-header">
    {{ 'Import from cvs file'|trans }}
</div>
<div class="modal-body">
    {{ form_widget(form.files) }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
    <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> {{ 'Import'|trans }}</button>
</div>
{{ form_end(form) }}